<div class="container border m-5 p-4 mx-auto d-flex justify-content-between">
  <h1>Hello {{ user }}</h1>
  <button class="btn btn-warning btn-lg btn-block" (click)="openModal()">
    Add
  </button>
</div>

<div
  class="container-fluid text-center h-100"
  style="border: 1px solid #cecece; height: auto; min-height: 50%; width: 95%"
>
  <div class="row">
    <div class="col" *ngFor="let category of cgList">
      <div class="container border m-2 p-2 mx-auto d-flex">
        <app-category [category]="category"></app-category>
      </div>
    </div>
  </div>
  <!-- <table class="table">
    <thead>
      <tr>
        <th >id</th>
        <th>username</th>
        <th>password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of posts">
        <th> {{item.id}}</th>
        <td>{{ item.username }}</td>
        <td>{{ item.password }}</td>
      </tr>
    </tbody>
  </table> -->
</div>

<router-outlet></router-outlet>
